body section div.demo-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body section div.demo-box-container div.body-header-part {
    padding-bottom: 1rem;
}

body section div.demo-box-container div.body-header-part p {
    text-align: justify;
}
