body section div.body-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body section div.body-section div.body-middle-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body section div.body-section div.body-middle-part h1 {
    font-size: 1.75rem;
}

body section div.body-section div.body-left-part img,
body section div.body-section div.body-right-part img {
    width: 28vw;
    height: auto;
}
