body nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: lightsteelblue;
}

body nav div.left-side-navigation a,
body nav div.right-side-navigation a {
    padding: 0.75rem;
    margin: 0 3.5rem;
    font-weight: bold;
    border-radius: 2rem;
}

body nav div.left-side-navigation a:hover,
body nav div.right-side-navigation a:hover {
    background: lightseagreen;
    transition: background 0.25s ease-in;
}

body nav div.left-side-navigation a:not(:hover),
body nav div.right-side-navigation a:not(:hover) {
    transition: background 0.25s ease-out;
}

body nav div.middle-side-navigation img {
    width: 5.75vw;
    height: auto;
}
